gotowa/
build/
installer/
releasowa/
deploy/
vcpkg*/
*.exe
*.log
*.pro.user*
*.zip
*.dmg
*.db
*.DS_Store
*.txt
*.ini

# ale nie ignoruj pliku CMakeLists.txt we wszystkich katalogach
!**/CMakeLists.txt
