.continue/
build_inwentaryzacja/
build_qt_sql_drivers/
deploy/
gotowa/
installer/
release_exe/
tools/
*.exe
*.log
*.zip
*.dmg
*.db
*.DS_Store
*.txt
*.ini
qt_env.sh
*.json

# Pliki binarne i biblioteki
*.dll
*.so
*.dylib
*.lib
*.a
*.o
*.obj

# Katalogi bibliotek
macos_lib_sql/
mysql_dll/
mac_lib_sql/

# Katalogi build
build*/
cmake-build*/
out/
bin/
lib/
deb_pkg/

# Dokumentacja Doxygen
dokumentacja_doxygen/
*.xml

# Pliki graficzne (opcjonalnie, jeśli ikony są za duże)
# *.png
# *.ico

# Pliki tymczasowe
*.bak
*.swp
*~

# Pliki IDE
.vscode/
*.code-workspace
*.pro.user.*
*.pro.user*
.idea/
*.iml

# Pliki CMake
CMakeCache.txt
CMakeFiles/
*.cmake

# Pliki Qt
*.moc
moc_*.cpp
ui_*.h
qrc_*.cpp

# Inne
.DS_Store
*.deb

# ale nie ignoruj pliku CMakeLists.txt we wszystkich katalogach
!**/CMakeLists.txt
!**/version.txt


# Pliki .ps1 tylko w głównym katalogu
/*.ps1

# Ale nie ignoruj plików .ps1 w podkatalogach
!*/**.ps1
