build/
build_inwentaryzacja/
build_qt_sql_drivers/
deploy/
*.exe
*.log
*.zip
*.dmg
*.db
*.DS_Store
*.txt
*.ini
qt_env.sh

# ale nie ignoruj pliku CMakeLists.txt we wszystkich katalogach
!**/CMakeLists.txt
